<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POS.Properties.Settings.IslahPOSConnectionString"
            connectionString="Data Source=DESKTOP-GBBLD7C\SQLEXPRESS;Initial Catalog=IslahPOS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>