<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="IslahGroupInventoryConnectionString" connectionString="Data Source=DESKTOP-GBBLD7C\SQLEXPRESS;Initial Catalog=IslahFactoryInventory;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="IslahGroupInventory.Properties.Settings.IslahFactoryInventoryConnectionString"
      connectionString="Data Source=DESKTOP-GBBLD7C\SQLEXPRESS;Initial Catalog=IslahFactoryInventory;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>